// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
 height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(rgb(180, 180, 180), white);
}

//#wrapper {
//  position: relative;
//}
//
//#imdb_index {
//  position: absolute;
//}

.add_a_movie {
  text-align: center;
  padding-top: 50px;
}

.add_movie_title {
  padding-bottom: 50px;
}

.last_five_movies_title {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 50px;
  padding-top: 20px;
}

.imdb_index {
  float: right;
}

.watched_on_at_cinema_index {
  padding-top: 10px;
}
